.Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 500px;
  margin: 2.5rem 0;
}

.Form > * + * {
  margin-top: 2rem;
}
input {
  font-family: inherit;
  flex-grow: 1;
  box-sizing: border-box;
  display: block;
  margin: 0;
  border: 1px solid #bababa;
  padding: 1.5rem 2rem;
  border-radius: var(--borderRadius);
  line-height: 1.25em;
  transition: border-color 0.2s;
  resize: none;
  width: 100%;
  transition: 0.3s ease all;
  background: transparent;
}
button {
  background: rgb(56, 159, 205);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: inline-block;
  padding: 1.25rem 3rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
}
